/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@import url("https://fonts.googleapis.com/css?family=Oldenburg|Catamaran:400,700,100");
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.break {
  clear: both;
  margin-top: 10px; }

@media (min-width: 768px) {
  .pull-right-sm {
    float: right !important; }

  .pull-left-sm {
    float: left !important; } }
@media (min-width: 992px) {
  .pull-right-md {
    float: right !important; }

  .pull-left-md {
    float: left !important; } }
@media (min-width: 1200px) {
  .pull-right-lg {
    float: right !important; }

  .pull-left-lg {
    float: left !important; } }
html, body {
  position: relative;
  height: 100%;
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

img {
  width: 100%; }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  font-family: "Oldenburg", Helvetica, Arial, sans-serif;
  background-color: #3A0842;
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oldenburg", Helvetica, Arial, sans-serif;
  color: #770058; }

p {
  font-family: "Catamaran", sans-serif;
  color: #F6F8F2; }

body > .container-fluid {
  padding: 60px 15px 0; }

.container-fluid .text-muted {
  margin: 20px 0; }

a {
  color: #B93848; }

button {
  text-align: center; }

.btn:focus, a:focus {
  outline: none !important;
  color: #B93848; }

.container-fluid {
  min-height: 100%; }

.navbar {
  height: 70px;
  background-color: transparent;
  background: transparent;
  border: none;
  color: #B93848;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  transition: background-color 1s ease 0s; }

.navbar-default .navbar-brand {
  margin-top: 10px;
  margin-left: 10px;
  color: #B93848;
  font-weight: 400; }
  .navbar-default .navbar-brand:hover {
    color: #770058; }
.navbar-default .navbar-nav > li > a {
  color: #B93848;
  font-weight: 500;
  font-size: 1em;
  text-transform: lowercase;
  margin: 10px 5px 5px 5px;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .navbar-default .navbar-nav > li > a {
      text-align: center;
      color: #3A0842; } }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #770058;
  border: 1px solid #770058; }
  @media (max-width: 768px) {
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
      color: #B93848;
      border-color: #B93848; } }
.navbar-default .navbar-nav > li > a:visited {
  text-decoration: none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #770058; }
.navbar-default .navbar-toggle {
  border-color: #B93848; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #3A0842;
    background-color: #770058; }
    .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: #B93848; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #B93848; }
  .navbar-default .navbar-toggle .colapsed {
    color: #3A0842;
    background-color: #770058; }
.navbar-default .navbar-collapse.collapse.in ul {
  color: #3A0842;
  background-color: #770058; }

.header {
  margin-top: -5em;
  margin-bottom: 2em; }

.time-adjust {
  padding-top: 7.5em; }
  .time-adjust button {
    background-color: #770058;
    border-radius: 30%; }
    .time-adjust button:hover {
      background-color: #3A0842;
      border-color: #B93848; }
    .time-adjust button span {
      color: #B93848; }
  .time-adjust p {
    font-family: "Oldenburg", Helvetica, Arial, sans-serif;
    color: #B93848; }

.adjust {
  padding: 10px;
  font-size: 1.2em;
  font-style: bold;
  margin-top: 10px; }

.clock {
  height: 300px;
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #B93848;
  margin: 0 auto;
  background-color: #770058;
  text-align: center;
  font-size: 6em;
  margin-top: 20px;
  margin-bottom: .25em;
  -webkit-transition: 5s linear;
  -moz-transition: 5s linear;
  -ms-transition: 5s linear;
  -o-transition: 5s linear;
  transition: 5s linear; }

.inner-clock {
  margin: 0 auto;
  margin-top: -300px; }
  .inner-clock p {
    text-align: center;
    font-size: 5em;
    padding-top: 1.2em;
    color: #3A0842; }
    .inner-clock p span {
      font-family: "Oldenburg", Helvetica, Arial, sans-serif;
      font-size: 80%; }

.status {
  padding-bottom: 2em; }

.paused {
  display: none; }

.controls {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  padding: 1em; }
  .controls button {
    color: #B93848;
    background-color: #3A0842;
    border-color: #B93848; }
    .controls button:hover {
      background-color: #770058;
      color: #B93848;
      border-color: #770058; }

.polygon {
  background-color: #770058;
  color: #3A0842;
  padding: 2em;
  -webkit-clip-path: polygon(15% 0, 83% 0, 100% 100%, 0% 100%);
  clip-path: polygon(15% 0, 83% 0, 100% 100%, 0% 100%); }
  .polygon h3 {
    color: #3A0842;
    font-weight: bold; }

.tasks {
  background-color: #770058;
  color: #3A0842;
  margin-left: -15px;
  margin-right: -15px; }
  .tasks .input-group {
    padding: 2em;
    margin-top: -5%; }
    .tasks .input-group #taskItemInput {
      background-color: #770058;
      border: solid 3px #3A0842;
      color: #3A0842;
      height: 38px; }
    .tasks .input-group #add-task {
      background-color: #3A0842;
      color: #770058;
      border: solid 3px #3A0842; }
      .tasks .input-group #add-task:hover {
        color: #B93848; }
    .tasks .input-group input::-webkit-input-placeholder {
      color: #B93848 !important; }
    .tasks .input-group input:-moz-placeholder {
      /* Firefox 18- */
      color: #B93848 !important; }
    .tasks .input-group input::-moz-placeholder {
      /* Firefox 19+ */
      color: #B93848 !important; }
    .tasks .input-group input:-ms-input-placeholder {
      color: #B93848 !important; }
  .tasks #list ul {
    margin-bottom: 14%; }
    .tasks #list ul .task-container {
      display: inline-block; }
    .tasks #list ul .item {
      font-size: 1.4em; }
  .tasks #list .btn-group {
    margin-bottom: .25em; }
    .tasks #list .btn-group:first-child {
      margin-top: -.5em; }
    .tasks #list .btn-group .btn {
      padding: 2px 6px;
      background-color: #770058;
      border-color: #B93848;
      color: #B93848; }
      .tasks #list .btn-group .btn:hover {
        background-color: #B93848;
        color: #770058; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  clear: both;
  padding-top: 20px;
  background-color: #3A0842; }
  .footer p {
    color: #770058; }

.modal-content {
  background-color: #F6F8F2; }
  .modal-content p {
    color: #770058; }
  .modal-content a {
    color: #B93848; }
  .modal-content .modal-footer button {
    background-color: #3A0842;
    color: #F6F8F2; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
