// ==========================================================================
// Navbar Styles
// ==========================================================================

.navbar {
  height: 70px;
  background-color: transparent;
  background: transparent;
  border: none;
  color: $color-accent;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  transition: background-color 1s ease 0s;
}

.navbar-default {
  
  .navbar-brand {
    // display: none;
    margin-top: 10px;
    margin-left: 10px;
    color: $color-accent;
    font-weight: $font-weight--medium;

      &:hover {
        color: $color-secondary;
      }
  }

  .navbar-nav {
    
    > li {
      
      > a {
        color: $color-accent;
        font-weight: 500;
        font-size: 1em;
        text-transform: lowercase;
        margin: 10px 5px 5px 5px;
        border-radius: $br--default;

          @media (max-width: $break-small) {
            text-align: center;
            color: $color-primary;
          }
      }

      > a:hover, > a:active, > a:focus {
        color: $color-secondary;
        border: 1px solid $color-secondary;

          @media (max-width: $break-small) {
            color: $color-accent;
            border-color: $color-accent;
          }
      }

      > a:visited {
        text-decoration: none;
      }

    } //end li

    > .active {

      > a, > a:hover, > a:focus {
        background-color: transparent;
        color: $color-secondary;
      }

    }

  } //end .navbar-nav

  //Collapsed styles
  .navbar-toggle {
      border-color: $color-accent;

      &:hover, &:focus {
        color: $color-primary;
        background-color: $color-secondary;

        .icon-bar {
          background-color: $color-accent;
        }
      }

      .icon-bar {
        background-color: $color-accent;
      }

      .colapsed {
        color: $color-primary;
        background-color: $color-secondary;

      }
  }

  .navbar-collapse.collapse.in ul {
    color: $color-primary;
    background-color: $color-secondary;
  }
    
} //end .navbar-default












