// ==========================================================================
// Section Styles
// ==========================================================================

//// Timer Section ////

.time-adjust {
	padding-top: 7.5em;

	button {
		background-color: $color-secondary;
		border-radius: 30%;

		&:hover {
			background-color: $color-primary;
			border-color: $color-accent;
		}

		span {
			color: $color-accent;
		}
	}

	p {
		font-family: $font-family--primary;
		color: $color-accent;
	}
}

.adjust {
	padding: 10px;
	font-size: 1.2em;
	font-style: bold;
	margin-top: 10px;
}

.clock {
	height: 300px;
	width: 300px;
	max-width: 100%;
	border-radius: 50%;
	border: 5px solid $color-light;
	margin: 0 auto;
	background-color: $color-secondary;
	text-align: center;
    font-size: 6em;
    margin-top: 20px;
    margin-bottom: .25em;
    -webkit-transition:5s linear;
    -moz-transition:5s linear;
    -ms-transition:5s linear;
    -o-transition:5s linear;
    transition:5s linear;
}

.inner-clock {

 	margin: 0 auto;
    margin-top: -300px;

 	p {
 	text-align: center;
    font-size: 5em;
	padding-top: 1.2em;
	color: $color-primary;

    	span {
    		font-family: $font-family--primary;
    		font-size: 80%;
    	}
	}
}


//Status

.status {
	padding-bottom: 2em;
}


//Controls
.paused {
	display:none;
}

.controls {
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
	padding: 1em;

	button {
		color: $color-secondary;
		background-color: $color-primary;
		border-color: $color-secondary;

		&:hover {
			background-color: $color-secondary;
			color: $color-accent;
			border-color: $color-accent;
		}
	}
}



//// Tasks ////

// .polygon {
// 	background-color: $color-secondary;
// 	color: $color-primary;
// 	padding: 2em;
// 	-webkit-clip-path: polygon(15% 0, 83% 0, 100% 100%, 0% 100%);
// 	clip-path: polygon(15% 0, 83% 0, 100% 100%, 0% 100%);

// 	h3 {
// 		color: $color-primary;
// 		font-weight: bold;
// 	}
// }


.tasks {
	// background-color: $color-secondary;
	color: $color-primary;
	margin-left: -15px;
    margin-right: -15px;

    .input-group {
    	padding: 2em;
    	margin-top: -5%;

    	#taskItemInput {
    		background-color: $color-secondary;
    		border: solid 3px $color-primary;
    		color: $color-primary;
    		height: 38px;
    	}

    	#add-task {
    		background-color: $color-primary;
    		color: $color-secondary;
    		border: solid 3px $color-primary;

    		&:hover {
    			color: $color-accent;
    		}
    	}

    	//change placeholder text color
    	input::-webkit-input-placeholder {
			color: $color-accent !important;
		}
		 
		input:-moz-placeholder { /* Firefox 18- */
			color: $color-accent !important;  
		}
		 
		input::-moz-placeholder {  /* Firefox 19+ */
			color: $color-accent !important;  
		}
		 
		input:-ms-input-placeholder {  
			color: $color-accent !important;  
		}
    }

	#list {

		ul {
			margin-bottom: 14%;

			.task-container {
				display: inline-block;
			} 

			.item {
				font-size: 1.4em;
				
			}
		}

		.btn-group {
			margin-bottom: .25em;

			&:first-child {
				margin-top: -.5em;
			}

			.btn {
				padding: 2px 6px;
				background-color: $color-secondary;
				border-color: $color-accent;
				color: $color-accent;

				&:hover {
					background-color: $color-accent;
					color: $color-secondary;
				}
			}
		}
	}    

}


	


